@use "../../../styles/font";
@use "../../../styles/color";

.pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.pageButton {
    padding: 6px 12px;
    border: 1px solid color.$gray;
    background-color: color.$white;
    color: color.$black;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s ease;
}

.pageButton:hover {
    background-color: color.$gray;
}

.active {
    background-color: color.$primary60;
    color: color.$white;
    border-color: color.$primary60;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}