$white: #fff;
$black: #000;
$gray: #d2d2d2;

$high-emphasis: #2A2A30;
$medium-emphasis: #4D5968;
$row-emphasis: #8E9DAA;


$neutral1: #FCFCFD;
$neutral5: #F2F4F6;
$neutral10: #E7EBEF;
$neutral20: #D7DEE4;
$neutral30: #C2CBD3;
$neutral40: #A7B4BF;
$neutral50: #8897A5;
$neutral60: #6D7F8E;
$neutral70: #4D5968;
$neutral80: #39424F;
$neutral90: #242A30;

$neutralVariant20: #353c49;
$neutralVariant30: #505866;
$neutralVariant60: #B1B8C0;
$neutralVariant90: #EEF1F5;
$neutralVariant99: #FBFBFB;

$primary5: #F4F8FF;
$primary10: #DAE6FF;
$primary20: #B9D1FF;
$primary30: #71A2FF;
$primary40: #2079FF;
$primary50: #0059DD;
$primary60: #0040D1;
$primary70: #0039BA;
$primary80: #0025A9;
 
$red5: #FFF1F1;
$red10: #FFC0C3;
$red20: #FF9A94;
$red30: #FC807B;
$red40: #F15C64;
$red50: #D33141;
$red60: #B02331;
$red70: #8F121E;

$orange5: #FFF6E6;
$orange10: #FFE9A7;
$orange20: #FFDC6F;
$orange30: #FFCD32;
$orange40: #FFB402;
$orange50: #FF8F00;
$orange60: #E46908;
$orange70: #C2581C;

$green5: #E9F8EA;
$green10: #c5eac3;
$green20: #95E192;
$green30: #5FCE60;
$green40: #2AB930;
$green50: #04971b;
$green60: #00780A;
$green70: #006300;
 
$blue5: #E8F4FF;
$blue10: #BCE1FF;
$blue20: #95D1FF;
$blue30: #65BFFF;
$blue40: #149EFF;
$blue50: #2979FF;
$blue60: #033FD3;
$blue70: #1426CA; 

$error0: #FFFFFF;
$error1: #FFFAFA;
$error5: #FFF0F0;
$error10: #FFD9D9;
$error20: #FFA7A8;
$error30: #FA696D;
$error40: #EF3D48;
$error50: #D62133;
$error60: #AE0F1F;
$error70: #8F1212;
$error80: #680616;
$error90: #470008;
$error100: #000000;

$custom1: #F4FCF5;
$custom5: #E9F8EA;
$custom10: #BDF0BD;
$custom20: #91E582;
$custom30: #66DB48;
$custom40: #0BB206;
$custom50: #009217;
$custom60: #007305;
$custom70: #005D03;
$custom80: #004700;
$custom90: #003700;

$warning1 : #FFFBF4;
$warning5 : #FFF6E6;
$warning10 : #FFE9A7;
$warning20 : #FFDC6E;
$warning30 : #FFC244;
$warning40 : #FF8A00;
$warning50 : #EC7100;
$warning60 : #C34A06;
$warning70 : #993408;
$warning80 : #762A00;
$warning90 : #462600;