@use"../../../styles/font";
@use"../../../styles/color";

.button {}

.button-xlarge {
    padding: 7px 12px;
    //.button-xlarge
    min-height: 48px;
    font-weight: 500;
    font-size: 16px;

}

.button-large {
    //.button-large
    min-height: 46px;
    padding: 7px 12px;
    font-weight: 500;
    font-size: 16px;
}

.button-medium {
    //.button-medium
    min-height: 40px;
    padding: 7px 12px;
    font-weight: 500;
    font-size: 16px;
}

.button-small {
    //.button-small
    min-height: 32px;
    padding: 5px 8px;
    font-weight: 400;
    font-size: 14px;
}

.button-high {
    //.button-height
    border-color: color.$primary60;
    background-color: color.$primary60;
    color: color.$white;

    &:hover {
        border-color: color.$primary70;
        background-color: color.$primary70;
    }

    &:focus,
    &:active {
        border-color: color.$primary80;
        background-color: color.$primary70;
    }

    &:disabled {
        border-color: color.$neutral10;
        background-color: color.$neutral10;


        color: color.$neutral60;
    }


    &.error {
        border-color: color.$error50;
        background-color: color.$error50;

        &:hover {
            border-color: color.$error60;
            background-color: color.$error60;
        }
    }
}


.button-middle {
    //.button-middle
    border-color: color.$primary60;
    background-color: color.$white;
    color: color.$primary60;

    &:hover {
        border-color: color.$primary70;
    }

    &:focus,
    &:active {
        border-color: color.$primary80;
    }

    &.error {
        border-color: color.$error50;
        color: color.$error60;
    }

    &:hover {
        border-color: color.$error60;
    }
}


.button-low {
    //.button-low
    border-color: color.$gray;
    background-color: color.$white;
    color: color.$neutral70;

    &:hover {
        background-color: color.$neutral5;
    }

    .button-error {
        //.button-low-error
        border-color: color.$neutral20;
        background-color: color.$neutral20;
        color: color.$red70;
    }

    &:hover {
        background-color: color.$red10;
    }

    &:focus,
    &:active {
        background-color: color.$red10;
    }

    &:disabled {
        border-color: color.$neutral10;
        background-color: color.$neutral10;
        color: color.$neutral60;
    }
}

.button-done {
    //.button-done
    border-color: color.$neutral20;
    background-color: color.$neutral20;
    color: color.$blue60;

    &:hover {
        border-color: color.$blue10;
        background-color: color.$blue10;
    }

    &:focus,
    &:active {
        border-color: color.$blue10;
        background-color: color.$blue10;
    }
}