@use"../../../styles/font";
@use"../../../styles/color";

.link {
    @include font.subtitle1_M(color.$neutral70);
    text-decoration: indianred;

    &:hover {
        color: color.$blue40;
    }
}

.disabled {
    color: color.$blue40;
    pointer-events: none;
    color: gray;
    cursor: not-allowed;
    text-decoration: none;
}