@use"../../../styles/font";
@use"../../../styles/color";

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .row {
        margin: 8px;
        display: flex;
        align-items: center;
        gap: 20px;
    }
}